parameters:
    level: 9
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
        - '#Method Orieg\\JudyPolyfill\\Judy::key\(\) should return int\|string but returns int\|string\|null#'
